<div>
    <ul>

        <table>
            <tr *ngFor="let item of items">
                <td>
                    <!-- <span>{{ item.Text }}</span> -->
                    <input type="text" [(ngModel)]="item.Text">
                </td>
                <td>
                    <button type="button" (click)="editItem(item)" style="margin-left: 10px;">Редактировать</button>
                </td>
                <td>
                    <button type="button" (click)="deleteItem(item)" style="margin-left: 10px;">Удалить</button>
                </td>
            </tr>
        </table>
    </ul>
</div>
