<div>
    <form>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="task">Описание: </label>
                    </td>
                    <td>
                        <input id="task" type="text" name="taskText" [(ngModel)]="value.Text" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="categories">Категория: </label>
                    </td>
                    <td>
                        <select id="categories" name="taskCategory" [(ngModel)]="value.CategoryId" (ngModelChange)="categoryChanged()">
                            <option *ngFor="let currentCategory of todo_categories" [attr.value]="currentCategory.Key">
                                {{ currentCategory.Value }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="button" (click)="addItem()">Добавить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div style="margin-top: 10px;">
        <span>Вывод объекта модели формы:</span>
        <pre>{{ value | json }}</pre>
    </div>

</div>
